<a href="https://colab.research.google.com/github/marcvonrohr/machine_learning/blob/main/lab_102/lab_102_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="center" style="max-width: 900px; height: auto" src="https://github.com/HSG-AIML-Teaching/ML2025-Lab/blob/main/lab_102/banner.png?raw=1">

<img align="right" style="max-width: 200px; height: auto" src="https://github.com/HSG-AIML-Teaching/ML2025-Lab/blob/main/lab_102/hsg_logo.png?raw=1">

###  Lab 102 - Python Data Types and Containers

8,860,1.00 Machine Learning, Spring Term 2025, University of St.Gallen (HSG)

The lab environment of the **8,860,1.00 Machine Learning** course builds on Jupyter Notebooks (https://jupyter.org), which provide a full-fledged Python environment for writing Python code.
In this first lab, we will touch on the basic concepts and techniques of such Notebooks and the Python programming language in general.

### Lab Objectives:

After today's lab, you should be able to:
    
> 1. Understand the very basics of **Python code, variables and functions**.
> 2. Know the distinct **Python data types**, such as integers, floats, booleans, strings.
> 3. Implement fundamental **Python programming structures**, such as loops and decision structures.
> 4. Code own **Python functions** to compute single, related actions.
> 5. Know how to import and use **external Python modules** to enhance a notebook.

## 1. The very Basics of Python Programming

Writing Python **code** is as simple as writing text.

Let's start with the typical Hello-World example:

In [1]:
print('hello world!')

hello world!

This code cell consists of a **function** call to the `print` function, which contains one **argument** (`'hello world!'`). The purpose of the `print` function is to print the argument on the screen.

In order to support more or less complex calculations, Python supports **variables** to which values can be assigned:

In [3]:
a = 3

The value of **object** `b` is now 3; whenever the variable is evaluated, it is replaced by this value:

In [4]:
a

3

This can be exploited for mathematical expressions:

In [5]:
a + 1

4

But note that the value of `a` does not change:

In [6]:
a

3

The value of `a` only changes when `=` is involved

In [7]:
a = a + 1

In [8]:
a

4

#### Comments

The `#` character has a special meaning in Python. Whenever it appears, all following characters on the same line are considered a comment and are ignored. You can use comments to explain what certain parts of your code do.

In [9]:
# this is a comment

In [10]:
print(1) # comments can be on the same line as code, too

1

## 2. Fundamental Python Data Types

In general, a data type defines the format, sets the upper and lower bounds of the data so that a program could use it appropriately. However, **Python data types** are just more than that. In Python, we don’t need to declare a variable with explicitly mentioning the data type. This feature is famously known as **dynamic typing**.

Python determines the type of a literal (an element of code that has a fixed value) directly from the syntax at **runtime**. For example, the quotes mark the declaration of a string value, square brackets represent a list and curly brackets for a dictionary. Also, the non-decimal numbers will get assigned to Integer type whereas the ones with a decimal point will be a float.

There are four basic data types in the Python programming language:

> * **Integer's** - represent positive or negative whole numbers with no decimal point.
> * **Float's** - represent positive or negative real numbers and are written with a decimal point.
> * **String's** - represent sequences of Unicode characters.
> * **Boolean's** - represent constant objects that are either 'False' and 'True'.

<img align="center" style="max-width: 800px; height: auto" src="https://github.com/HSG-AIML/LabMLDL/blob/main/lab_01/python_data_types.png?raw=1">

(Source: https://www.tes.com/teaching-resource/python-version-3-data-types-11949410.)

#### 2.1 Numerical Data Type "Integer"

Whole numbers are one of the most prominent Python data types. Whole numbers in Python are often called just **'integers'** or **'ints'** and are positive or negative whole numbers with no decimal point. In Python 3, there is effectively no limit to how big an integer value can be.

Of course, it is constrained by the **amount of memory** your system has, as are all things. But beyond that, an integer can be as long as you need it to be:

In [11]:
x = 3
x

3

Print the variable type:

In [12]:
type(x)

int

Basic mathematical operations:

In [13]:
print(x + 1)   # addition
print(x - 1)   # subtraction
print(x * 2)   # multiplication
print(x ** 2)  # exponentiation

4
2
6
9

Note that `x` still has the same value after these operations. This is due to the fact that we did not assign a new value to this variable. We can change its value by combining the two notations that we used above:

In [14]:
print(x, 'original value')
x = x + 1
print(x, 'after adding 1')
x = x * 2
print(x, 'after multiplying with 2')
x = x - 5
print(x, 'after subtracting 5')

3 original value
4 after adding 1
8 after multiplying with 2
3 after subtracting 5

Here are some shortcuts for basic operations combined with value assignment:

In [15]:
x += 1
print(x)  # prints "4"
x *= 2
print(x)  # prints "8"

4
8

#### 2.2 Numerical Data Type "Float"

The **float** type in Python represents real numbers and are written with a decimal point dividing the integer and fractional parts. As a result, float values are specified with a decimal point and are often called just **'floats'**.

A float type number can have precision up to **15 decimal places**:

In [16]:
y = 3.0
print(y)

3.0

Print the variable type:

In [17]:
type(y)

float

Basic mathematical operations:

In [18]:
print(y + 1)   # addition
print(y - 1)   # subtraction
print(y * 2)   # multiplication
print(y ** 2)  # exponentation

4.0
2.0
6.0
9.0

Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation:

In [19]:
z = 1e-7      # equals 0.0000001
print(z)
print(z + 1)
print(z * 2)
print(z ** 2)

1e-07
1.0000001
2e-07
9.999999999999998e-15

#### 2.3 Non-Numerical Data Type "String"

A sequence of one or more characters enclosed within either single quotes `'` or double quotes `"` is considered as a **string** in Python. Any letter, a number or a symbol could be a part of the string. All the characters between the opening delimiter and matching closing delimiter are part of the string:

In [20]:
hello = 'hello'    # string literals can use single quotes
hello2 = "gruezi"  # or double quotes; it does not matter.
print(hello)

hello

Print the variable type:

In [21]:
type(hello)

str

Print the length of each string in terms of a number of characters:

In [22]:
print(len(hello))
print(len(hello2))

5
6

Like most programming languages, Python allows accessing individual characters of a string based on their "index", which indicates the position in the string.

**Important Python Rule No. 1: Python starts counting indices at 0.**

The index of the first character is 0, the index of the second character is 1, and so on. Reaching the end of a string seems tedious? Not really, since Python also supports negative indexes. Index -1 represents the last character of the String. Similarly using -2, we can access the penultimate character of the string and so on:

In [23]:
print('first character:', hello[0])
print('third character:', hello[2])
print('last character:', hello[-1])
print('penulminate character:', hello[-2])

first character: h
third character: l
last character: o
penulminate character: l

Concatenate two strings, e.g., to form a sentence:

In [24]:
hw = hello + '_' + hello2 + ' and guten tag' # string concatenation
print(hw)  # prints "hello world, my name is peterli 12"

hello_gruezi and guten tag

String objects have a bunch of useful methods; for example:

In [25]:
s = "hello"                     # init string variable
print(s.capitalize())           # capitalize a string; prints "Hello"
print(s.upper())                # convert a string to uppercase; prints "HELLO"
print(s.rjust(7))               # right-justify a string, padding with spaces; prints "  hello"
print(s.center(7))              # center a string, padding with spaces; prints " hello "
print(s.replace('l', '(ell)'))  # replace all instances of one substring with another;

Hello
HELLO
  hello
 hello
he(ell)(ell)o

Strings can be formatted automatically, e.g., consider the following example of printing the temperature:

In [26]:
temp = 12.1

print("The current temperature is {}.".format(temp))

The current temperature is 12.1.

#### 2.4 Non-Numerical Data Type "boolean"

Python provides a Boolean data type. Objects of type boolean type may have one of two values, "True" or "False":

In [27]:
a = True
b = False
print(a)
print(b)

True
False

Print the variable type:

In [28]:
type(a)

bool

Booleans are often used in Python to test conditions or constraints. For example, a string in Python can be tested for truth value. The return type will be then a Boolean value (True or False). Let’s have a look at a few examples:

In [29]:
2 > 1  # read: is 2 greater than 1?

True

In [30]:
1 > 2  # read: is 1 greater than 2?

False

In [31]:
1 == 2  # read: is 1 equal to 2?

False

Methods can return booleans, too:

In [32]:
s1 = 'This is a test string.'
result_upper = s1.isupper()        # test if string contains only upper case characters
print(result_upper)

False

We can even logically combine the tested conditions above:

In [33]:
print(a and b)               # Logical AND; prints "False"
print(a or b)                # Logical OR; prints "True"
print(a and result_upper)    # Logical AND; prints "True"
print(not a)                 # Logical NOT; prints "False"
print(a != b)                # Logical XOR; prints "True"

False
True
False
False
True

As you will see in upcoming labs, expressions in Python are often evaluated in a boolean context, meaning they are interpreted to represent truth or falsehood. A value that is true in Boolean context is sometimes said to be “truthy,” and one that is false in Boolean context is said to be “falsy”.

## 3. Fundamental Python Data Containers

There are four collection data types in the Python programming language:

> * **List** - is a collection which is ordered and changeable. Allows duplicate members.
> * **Tuple** - is a collection which is ordered and unchangeable. Allows duplicate members.
> * **Set** - is a collection which is unordered and unindexed. No duplicate members.
> * **Dictionary** - is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

During this lab, we will have a closer look into **lists** and **dictionaries**.

<img align="center" style="max-width: 800px; height: auto" src="https://github.com/HSG-AIML/LabMLDL/blob/main/lab_01/python_data_containers.png?raw=1">

(Source: https://www.tes.com/teaching-resource/python-version-3-data-types-11949410.)

#### 3.1. Data Container "List"

A list is a collection of basic Python data types in which "elements" are ordered in a mutable (elements can be changed) sequence.

In Python, lists are written with square brackets. Python lists allow duplicate elements, are resizeable and can contain elements of different data types. Lists can be initialized like this:

In [34]:
l = [42, 5, 128, 5, 97, 208]
l

[42, 5, 128, 5, 97, 208]

Similarly to strings, list elements can accessed using the same square-bracket formalism (keep in mind our Import Python Rule No. 1):

In [35]:
print('first element:', l[0])
print('third element:', l[2])
print('last element:', l[-1])
print('penultimate element:', l[-2])

first element: 42
third element: 128
last element: 208
penultimate element: 97

(This parallelism to strings is not by accident: strings are simply implemented as lists of characters in Python.)

Lists are their own variable type:

In [36]:
type(l)

list

Determine the total number of list elements:

In [37]:
print(len(l))         # print the number of elements contained in the list

6

Replace a list element by assigning a new value at a specific index:

In [38]:
l[2] = 'happy'        # lists can contain elements of different types
print(l)

[42, 5, 'happy', 5, 97, 208]

Append an element to the end of a list:

In [39]:
l.append('coding')    # add a new element to the end of the list
print(l)

[42, 5, 'happy', 5, 97, 208, 'coding']

Create a list of numbers:

In [40]:
l = list(range(5))     # range is a built-in function that creates a list of integers
print(l)               # prints "[0, 1, 2, 3, 4]"

[0, 1, 2, 3, 4]

Slice list using distinct indexing techniques:

In [41]:
print(l[2:4])    # get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(l[2:])     # get a slice from index 2 to the end; prints "[2, 3, 4]"
print(l[:2])     # get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(l[:])      # get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(l[:-1])    # slice indices can be negative; prints ["0, 1, 2, 3]"
print(l[::-1])   # you can also modify the step size and reverse the list

[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[4, 3, 2, 1, 0]

Replace range of list elements:

In [42]:
l[2:4] = [8, 9]  # assign a new sublist to a slice
print(l)         # prints "[0, 1, 8, 9, 4]"

[0, 1, 8, 9, 4]

#### 3.2 Intermezzo: Tuples

Tuples are basically immutable lists. They utilize parentheses instead of square brackets:

In [43]:
t = (1, "test", 56)
t

(1, 'test', 56)

Most list functions also work on tuples:

In [44]:
len(t)

3

But keep in mind that tuples cannot be modified:

In [45]:
#t[0] = 5

#### 3.3 Data Container "Dictionary"

In Python, dictionaries are used to store associations similar to actual dictionaries that, e.g., translate between two different languages.

A dictionary is a collection of basic Python data types in which "elements" consist of (key, value) pairs that are unordered, mutable and indexed. Every key is only allowed once in the dictionary (since it is indexed), but the same value can occur many times. Dictionaries are written with curly brackets and  can be initialized like this:

In [46]:
d = {'cat': 'Katze', 'flower': 'Blume', 'house': 'Haus', 'owl': 'Eule'}
d

{'cat': 'Katze', 'flower': 'Blume', 'house': 'Haus', 'owl': 'Eule'}

Retrieve and print the value corresponding to the key "cat":

In [47]:
print(d['cat'])

Katze

We can add new dictionary elements:

In [48]:
d['pumpkin'] = 'Kürbis'
d

{'cat': 'Katze',
 'flower': 'Blume',
 'house': 'Haus',
 'owl': 'Eule',
 'pumpkin': 'Kürbis'}

And we can modify existing dictionary element by overwriting them (since every key is only allowed once):

In [49]:
d['owl'] = 'Kauz'
d

{'cat': 'Katze',
 'flower': 'Blume',
 'house': 'Haus',
 'owl': 'Kauz',
 'pumpkin': 'Kürbis'}

Retrieve and print all dictionary keys:

In [50]:
d.keys()

dict_keys(['cat', 'flower', 'house', 'owl', 'pumpkin'])

Retrieve and print all dictionary values:

In [51]:
d.values()

dict_values(['Katze', 'Blume', 'Haus', 'Kauz', 'Kürbis'])

You can also retrieve a list of key-value pairs in the form of tuples:

In [52]:
d.items()

dict_items([('cat', 'Katze'), ('flower', 'Blume'), ('house', 'Haus'), ('owl', 'Kauz'), ('pumpkin', 'Kürbis')])

Try to retrieve a dictionary value that is not contained in the dictionary (this will result in an error):

In [53]:
#print(d['ghost'])                  # KeyError: 'ghost' not a key of the dictionary

#### 3.4 Intermezzo: Sets

Sets are basically dictionaries that only consist of keys without values. Like sets in the mathematical meaning, only unique elements are considered. Consider the following example:

In [54]:
s1 = {1, 2, 5, 9, 34}
s2 = {1, 1, 3, 6, 33}
s2

{1, 3, 6, 33}

Set `s2` only has a single element `1`, since only unique elements are considered.

Sets are useful for comparisons. For instance, you can derive the intersection of two sets

In [55]:
s1.intersection(s2)

{1}

and the union of two sets:

In [56]:
s1.union(s2)

{1, 2, 3, 5, 6, 9, 33, 34}

## 4. Fundamental Programming Structures

As part of this lab, we want to have a closer look at three basic programming structures of Python:

> * **For-Loops** - used to iterate over a sequence of program statements.
> * **Decision Structures** - used to anticipate conditions occurring while the execution of a program.

#### 4.1 Python Loop Structures

To keep a program doing some useful work we need some kind of repetition, looping back over the same block of code again and again. Below we will describe the different kinds of loops available in Python.

The for loop that is used to iterate over elements of a sequence, it is often used when you have a piece of code which you want to repeat a specifc "n" number of times. The nature of a for-loop in Python is very straightforward  **"for all elements in a list, do this".**

Let's say that you have a list; you can then loop over the list elements using the `for` keyword like this:

In [57]:
# list initialization
l = ['cat', 'night', 'pumpkin']

# loop initialization and run
for s in l:
    print(s)

cat
night
pumpkin

**Important Python Rule No. 2: Python relies on the concept of indentation, using whitespace (or tabs), to define the scope in the code.** This means that all code lines that use the same level of indentation belong to the same for-loop, function, etc.

Other programming languages such as Java or C# often use brackets or curly-brackets for this purpose. Consider the following examples:

In [58]:
for s in l:
    print(s)
    print("I'm here")

cat
I'm here
night
I'm here
pumpkin
I'm here

In [59]:
for s in l:
    print(s)
print("I'm here")

cat
night
pumpkin
I'm here

Only in the former example `I'm here` is printed in every iteration since its level of indentation indicates that it is part of the for-loop. In the latter case, the second print function does not use indentation, so it is not considered part of the for-loop and only printed after the loop has finished.

Let's have a look at another example of a for-loop:

In [60]:
# init a list of numbers
numbers = [1, 10, 20, 30, 40, 50]

# init the result
result = 0

# loop initialization and run
for number in numbers:
    result = result + number
    # result += number

# print the result
print(result)

151

To loop over a list of numbers, we can use Python's `range` function. The `range(lower_bound, upper_bound, step_size)` function generates a sequence of numbers, starting from the `lower_bound` to the `upper_bound`. The `lower_bound` and `step_size` parameters are optional. By default the lower bound is set to zero, the incremental step is set to one.

In [61]:
# loop over range elements
for i in range(1, 10):

    # print current value of i
    print(i)

1
2
3
4
5
6
7
8
9

To break out from a loop, you can use the keyword `break`. Let's have a look at the following example:

In [62]:
# loop over range elements
for i in range(1, 10000000000):

    # case: current value of i equals 3?
    if i == 3:

        # break: stop the loop
        break

    # print current value of i
    print(i)

1
2

In contrast, the `continue` keyword is used to tell Python to skip the rest of the statements in the current loop block and to continue to the next iteration of the loop.

In [63]:
# loop over range elements
for i in range(1, 10):

    # case: current value of i equals 3?
    if i == 3:

        # continue: jump to next loop iteration
        continue

    # print current value if i
    print(i)

1
2
4
5
6
7
8
9

If you want access to the index of each element within the body of a loop, use the built-in enumerate function:

In [64]:
l = ['cat', 'night', 'pumpkin']
for idx, element in enumerate(l):
    print('index {}: {}'.format(idx, element))

index 0: cat
index 1: night
index 2: pumpkin

When programming frequently, we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [65]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [66]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [67]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

Similarly, it is easy to iterate over the keys in a dictionary:

In [68]:
d = {'pumpkin': 0, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print('A {} has {} legs'.format(animal, legs))

A pumpkin has 0 legs
A cat has 4 legs
A spider has 8 legs

If you want access to keys and their corresponding values, use the items method:

In [69]:
d = {'pumpkin': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A pumpkin has 2 legs
A cat has 4 legs
A spider has 8 legs

#### 4.2 Python Decision Structures

Decision structures evaluate multiple expressions which produce **True** or **False** as an outcome. When solving a data science task, you often need to determine which action to take and which statements to execute if an outcome is **True** or **False** otherwise.

Let's briefly recap Python's use of logical or mathematical conditions:

In [70]:
# init sample variables
a = 4
b = 7

In [71]:
print(a == b)  # equals
print(a != b)  # not equals
print(a < b)   # less than
print(a <= b)  # less than or equal to
print(a > b)   # greater than
print(a >= b)  # greater than or equal to

False
True
True
True
False
False

The mathematical conditions outlined above can be used in several ways, most commonly in if-statements. An if-statement is written by using the `if` keyword. Let's have a look at an example:

In [72]:
# init sample variables
a = 4
b = 7

# test condition
if b > a:
    print("b is greater than a")

b is greater than a

In the example above we used two variables, `a` and `b`, which are used as part of the if-statement to test whether `b` is greater than `a`. As `a` is 4, and `b` is 7, we know that 7 is greater than 4, and so we print that `"b is greater than a"`. Note how indentation is used here to indicate which code lines have to be run if the condition is True.

We can easily enhance the if-statement above by adding additional conditions using the `elif` keyword. The `elif` keyword is pythons way of saying "if the previous conditions were not true, then try this condition":

In [73]:
a = 4
b = 4

# test condition 1
if b > a:
  print("b is greater than a")

# test condition 2
elif a == b:
  print("a and b are equal")

elif a != b:
    print("test check and so on... ")

a and b are equal

Finally, we can use the `else` keyword to catch any case which isn't found by the preceding conditions:

In [74]:
a = 8
b = 4

# test condition 1
if b > a:
  print("b is greater than a")

# test condition 2
elif a == b:
  print("a and b are equal")

# all other cases
else:
  print("a is greater than b")

a is greater than b

In the example above the value assigned to a variable `a` is greater than the value assigned to `b`, so the first `if` condition is not true. Also, the `elif` condition is not true, so we ultimately go to the `else` condition and print that "a is greater than b".

## 5. Python Functions

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and allow for a high degree of reusable code. As you already saw, Python provides you with many built-in functions such as `print()`, etc. but you can also create your functions. These functions are called **user-defined functions**.

A function is a block of code which only runs when it is called. You can pass data, known as arguments or parameters, into a function. A function can return data as a result. Python functions are defined using the `def` keyword.

Let's recycle the code comparing two numbers from the previous section and put it into a function:

In [75]:
def compare(a, b):
    if b > a:
        print("b is greater than a")
    elif a == b:
        print("a and b are equal")
    else:
        print("a is greater than b")

First, notice the use of indentation here: all code lines use indentation since they are part of the function definition. Those lines that are part of the if-structure use additional indentation.

Let's evaluate this function:

In [76]:
compare(1, 2)

b is greater than a

In [77]:
compare(100, 2)

a is greater than b

This does the trick, but the more "pythonic" way would be not to print the result on the screen, but to return it to the user:

In [78]:
def which_number_is_greater(a, b):
    if a > b:
        return a
    elif b > a:
        return b
    else:
        return None

In [79]:
which_number_is_greater(100, 99)

100

Note that the function call gets replaced with the result, which can be used right away in mathematical expressions:

In [80]:
which_number_is_greater(100, 99) + 1

101

Finally, there are two types of arguments: positional arguments that are identfied as per their position in the function call and keyword arguments that have to be addressed specifically and typically have default values:

In [81]:
def some_math(a, b, c=0, d=1):
    return (a + 2*b + c) * d

In [82]:
some_math(1, 2)

5

In [83]:
some_math(1, 2, d=4, c=2)

28

## 6. Importing Python Modules

Python provides a huge list of "built-in" functionality, things that it can do out-of-the-box. However, for specific use cases - like training deep neural networks - it requires functionality from external modules that can be readily "imported" into your Python runtime environment.

In our next lab we will learn about the Numpy module and its support for arrays and higher math. For now let's focus on how to import this module:

In [84]:
import numpy

That's it. Now presume that we would like to use its `sqrt` function to calculate the square-root of 9:

In [85]:
numpy.sqrt(9)

3.0

So, in order to use a function from Numpy, we have to specify that we would like to use the `sqrt` from Numpy by typing `numpy.sqrt`. This is necessary to resolve possible confusion with other functions that might carry the same name.

Since typing `numpy.` everytime we want to use a Numpy function quickly becomes tedious, you can give the Numpy module a different name (`np` is the usual choice) so you have to type less:

In [86]:
import numpy as np

np.sqrt(9)

3.0

### Lab Summary:

In this initial lab, a step by step introduction into some basic concepts of Python programming incl. data types, containers, functions, and modules are presented. The code and exercises presented in this lab may serve you as a starting point for more complex and tailored analytics.

You may want to execute the content of your lab outside of the Jupyter notebook environment, e.g., on a compute node or a server. The cell below converts the lab notebook into a standalone and executable python script.

In [87]:
!jupyter nbconvert --to script lab_102_notebook.ipynb

[NbConvertApp] WARNING | pattern 'lab_102_notebook.ipynb' matched no files
This application is used to convert notebook files (*.ipynb)
        to various other formats.

        WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
=======
The options below are convenience aliases to configurable class-options,
as listed in the "Equivalent to" description-line of the aliases.
To see all configurable class-options for some <cmd>, use:
    <cmd> --help-all

--debug
    set log level to logging.DEBUG (maximize logging output)
    Equivalent to: [--Application.log_level=10]
--show-config
    Show the application's configuration (human-readable format)
    Equivalent to: [--Application.show_config=True]
--show-config-json
    Show the application's configuration (json format)
    Equivalent to: [--Application.show_config_json=True]
--generate-config
    generate default config file
    Equivalent to: [--JupyterApp.generate_config=True]
-y
    Answer yes to any questions instead of prompting.
    Equivalent to: [--JupyterApp.answer_yes=True]
--execute
    Execute the notebook prior to export.
    Equivalent to: [--ExecutePreprocessor.enabled=True]
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
    Equivalent to: [--ExecutePreprocessor.allow_errors=True]
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
    Equivalent to: [--NbConvertApp.from_stdin=True]
--stdout
    Write notebook output to stdout instead of files.
    Equivalent to: [--NbConvertApp.writer_class=StdoutWriter]
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
            relevant when converting to notebook format)
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory=]
--clear-output
    Clear output of current file and save in place,
            overwriting the existing notebook.
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --ClearOutputPreprocessor.enabled=True]
--coalesce-streams
    Coalesce consecutive stdout and stderr outputs into one stream (within each cell).
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --CoalesceStreamsPreprocessor.enabled=True]
--no-prompt
    Exclude input and output prompts from converted document.
    Equivalent to: [--TemplateExporter.exclude_input_prompt=True --TemplateExporter.exclude_output_prompt=True]
--no-input
    Exclude input cells and output prompts from converted document.
            This mode is ideal for generating code-free reports.
    Equivalent to: [--TemplateExporter.exclude_output_prompt=True --TemplateExporter.exclude_input=True --TemplateExporter.exclude_input_prompt=True]
--allow-chromium-download
    Whether to allow downloading chromium if no suitable version is found on the system.
    Equivalent to: [--WebPDFExporter.allow_chromium_download=True]
--disable-chromium-sandbox
    Disable chromium security sandbox when converting to PDF..
    Equivalent to: [--WebPDFExporter.disable_sandbox=True]
--show-input
    Shows code input. This flag is only useful for dejavu users.
    Equivalent to: [--TemplateExporter.exclude_input=False]
--embed-images
    Embed the images as base64 dataurls in the output. This flag is only useful for the HTML/WebPDF/Slides exports.
    Equivalent to: [--HTMLExporter.embed_images=True]
--sanitize-html
    Whether the HTML in Markdown cells and cell outputs should be sanitized..
    Equivalent to: [--HTMLExporter.sanitize_html=True]
--log-level=<Enum>
    Set the log level by value or name.
    Choices: any of [0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL']
    Default: 30
    Equivalent to: [--Application.log_level]
--config=<Unicode>
    Full path of a config file.
    Default: ''
    Equivalent to: [--JupyterApp.config_file]
--to=<Unicode>
    The export format to be used, either one of the built-in formats
            ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'qtpdf', 'qtpng', 'rst', 'script', 'slides', 'webpdf']
            or a dotted object name that represents the import path for an
            ``Exporter`` class
    Default: ''
    Equivalent to: [--NbConvertApp.export_format]
--template=<Unicode>
    Name of the template to use
    Default: ''
    Equivalent to: [--TemplateExporter.template_name]
--template-file=<Unicode>
    Name of the template file to use
    Default: None
    Equivalent to: [--TemplateExporter.template_file]
--theme=<Unicode>
    Template specific theme(e.g. the name of a JupyterLab CSS theme distributed
    as prebuilt extension for the lab template)
    Default: 'light'
    Equivalent to: [--HTMLExporter.theme]
--sanitize_html=<Bool>
    Whether the HTML in Markdown cells and cell outputs should be sanitized.This
    should be set to True by nbviewer or similar tools.
    Default: False
    Equivalent to: [--HTMLExporter.sanitize_html]
--writer=<DottedObjectName>
    Writer class used to write the
                                        results of the conversion
    Default: 'FilesWriter'
    Equivalent to: [--NbConvertApp.writer_class]
--post=<DottedOrNone>
    PostProcessor class used to write the
                                        results of the conversion
    Default: ''
    Equivalent to: [--NbConvertApp.postprocessor_class]
--output=<Unicode>
    Overwrite base name use for output files.
                Supports pattern replacements '{notebook_name}'.
    Default: '{notebook_name}'
    Equivalent to: [--NbConvertApp.output_base]
--output-dir=<Unicode>
    Directory to write output(s) to. Defaults
                                  to output to the directory of each notebook. To recover
                                  previous default behaviour (outputting to the current
                                  working directory) use . as the flag value.
    Default: ''
    Equivalent to: [--FilesWriter.build_directory]
--reveal-prefix=<Unicode>
    The URL prefix for reveal.js (version 3.x).
            This defaults to the reveal CDN, but can be any url pointing to a copy
            of reveal.js.
            For speaker notes to work, this must be a relative path to a local
            copy of reveal.js: e.g., "reveal.js".
            If a relative path is given, it must be a subdirectory of the
            current directory (from which the server is run).
            See the usage documentation
            (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-slideshow)
            for more details.
    Default: ''
    Equivalent to: [--SlidesExporter.reveal_url_prefix]
--nbformat=<Enum>
    The nbformat version to write.
            Use this to downgrade notebooks.
    Choices: any of [1, 2, 3, 4]
    Default: 4
    Equivalent to: [--NotebookExporter.nbformat_version]

Examples
--------

    The simplest way to use nbconvert is

            > jupyter nbconvert mynotebook.ipynb --to html

            Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'qtpdf', 'qtpng', 'rst', 'script', 'slides', 'webpdf'].

            > jupyter nbconvert --to latex mynotebook.ipynb

            Both HTML and LaTeX support multiple output templates. LaTeX includes
            'base', 'article' and 'report'.  HTML includes 'basic', 'lab' and
            'classic'. You can specify the flavor of the format used.

            > jupyter nbconvert --to html --template lab mynotebook.ipynb

            You can also pipe the output to stdout, rather than a file

            > jupyter nbconvert mynotebook.ipynb --stdout

            PDF is generated via latex

            > jupyter nbconvert mynotebook.ipynb --to pdf

            You can get (and serve) a Reveal.js-powered slideshow

            > jupyter nbconvert myslides.ipynb --to slides --post serve

            Multiple notebooks can be given at the command line in a couple of
            different ways:

            > jupyter nbconvert notebook*.ipynb
            > jupyter nbconvert notebook1.ipynb notebook2.ipynb

            or you can specify the notebooks list in a config file, containing::

                c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

            > jupyter nbconvert --config mycfg.py

To see all available configurables, use `--help-all`.